<%- include('../partials/header') %>

<form method="POST" action="/comments/<%= comment._id %>?_method=PUT">
    <div>
        <textarea name="content"><%= comment.content %></textarea>
        <button type="submit">Update Comment</button>  
    </div>
</form>