<%- include('./partials/header') -%>

<% if (user) { %>
    <p>Use Above Menu to Start Posting about Songs You've Been Listening to%></p>
<% } else { %>
    <p>Select 'All Posts' to View What Others Are Saying!</p>
    <p>Log In to Create Your Own Post!</p>
<% } %>

<%- include('./partials/footer') -%>
