<%- include('./partials/header') -%>

<h1 class="h1-font"><%= title %></h1>

<div>
    <% if (user) { %>
        <div class="index-div">
            <p>Use Above Menu to Start Posting about Songs You've Been Listening to%></p>
        </div>
    <% } else { %>
        <div class="index-div">
            <p>Select 'All Posts' to View What Others Are Saying!</p>
            <p>Log In to Create Your Own Post!</p>
        </div>  
    <% } %>
    <div class="center">
        <img src="images/ezgif.com-optimize.gif"> 
    </div>
</div>
<%- include('./partials/footer') -%>
