@font-face {
  font-family: 'laptop_outlineoutline';
  src: url('../fonts/laptopoutline-z8exg-webfont.woff2') format('woff2'),
       url('../fonts/laptopoutline-z8exg-webfont.woff') format('woff');
  font-family: 'stepalangeregular';
  src: url('../fonts/stepalange-gxolp-webfont.woff2') format('woff2'),
       url('../fonts/stepalange-gxolp-webfont.woff') format('woff');
  font-family: "Wayfarer's Toy Box Regular";
  src: url('/fonts/WayfarersToyBoxRegular-gxxER.ttf');
       
}

html {
  font-size: 1.75em;
 } 

.index-div, .center {
  text-align: center;
}

.h1-font {
  font-family: "Wayfarer's Toy Box Regular", stepalangeregular;
  text-align: center;
}

body {
  padding: 30px;
}

.font {
  font-family: 'stepalangeregular';
}

.navbar {
  border-radius: 10px;
}

.link {
  color: lightgray;
  transition-duration: 0.7s;
  font-size: 0.75em
}

.song-link {
  color: lightgray;
  transition-duration: 0.7s;
}

.link:hover, .song-link:hover {
  color: rgb(30, 215, 96);
}

.login img {
  height: 15px;
}

textarea.form-control::placeholder {
  color: lightgray
}

textarea.form-control, input.form-control {
  color: lightgray;
  background-color: rgb(40, 40, 40);
}

html, .colorbg {
  background-color: rgb(40, 40, 40);
  color: lightgray;
}

#profile {
  border-bottom: lightgray solid;
}

.profilepicture {
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.col2, .right {
  text-align: right;
}

#border {
  border: rgb(30, 215, 96) 5px solid;
  border-radius: 10px;
  padding: 5px;
}
