@font-face {
  font-family: 'Poland canned into Future';
  src: url('/fonts/PolandCannedIntoFuture-OxE3.ttf');
}

@font-face {
  font-family: "Wayfarer's Toy Box Regular";
  src: url('/fonts/WayfarersToyBoxRegular-gxxER.ttf');
}

html {
  font-size: 1.25em;
 } 

 .disc {
  height: 75px;
 }

.index-div, .center {
  text-align: center;
}

.h1-font {
  font-family: "Wayfarer's Toy Box Regular", 'Poland canned into Future';
  text-align: center;
}

body {
  padding: 30px;
}

.font {
  font-family:  "Wayfarer's Toy Box Regular", 'Poland canned into Future' ;
}

.navbar {
  border-radius: 10px;
}

.link {
  color: lightgray;
  transition-duration: 0.7s;
  font-size: 0.75em
}

.song-link {
  color: lightgray;
  transition-duration: 0.7s;
}

.link:hover, .song-link:hover {
  color: rgb(30, 215, 96);
}

.login img {
  height: 15px;
}

textarea.form-control::placeholder {
  color: lightgray
}

textarea.form-control, input.form-control {
  color: lightgray;
  background-color: rgb(40, 40, 40);
}

html, .colorbg {
  background-color: rgb(40, 40, 40);
  color: lightgray;
}

#profile {
  border-bottom: lightgray solid;
}

.profilepicture {
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.col2, .right {
  text-align: right;
}

#border {
  border: rgb(30, 215, 96) 5px solid;
  border-radius: 10px;
  padding: 5px;
}
