<%- include('../partials/header') %>

<h1><%= title %></h1>

<form action="/songs" method="POST">
    <label>Song Title:</label>
    <input type="text" name="title">
    <label>Artist Name:</label>
    <input type="text" name="artist">
    <label>Share Your Thoughts Below...</label>
    <textarea name="caption"></textarea>
    <button class="button-color" type="submit">Share Post</button>
</form>

<%- include('../partials/footer') %>