<%- include('../partials/header') %>

<section>
    <div>
        Song Title: <%= song.title %>
    </div>
    <div>
        Artist: <%= song.artist %>
    </div>
    <div>
        <%= song.caption %>
    </div>
</section>